/* ----- GENERAL ------ */

h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
}

/* ----- AUDIO ------ */

#audio-section {
    margin: 16px 0px;
}

#start-advice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#start-advice > p {
    padding-left: 10px;
}

.audio-container {
    background-color: #f5f5f5;
    border-radius: 5px;
}

nav {
    background-color: #ffffff;
}

.sample-label {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    border-radius: 5px 5px 0px 0px;
}

.sample-label > span {
    padding: 3px 28px;
    cursor: pointer;
}

.sample-label > span > p {
    font-size: 16px;
}

#audio-player {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
    padding-bottom: 10px;
}

#waveform {
    overflow-x: hidden !important;
    background-color: #ffffff;
    margin-bottom: 0px;
    padding: 2px 0px;
}

.audio-btn {
    display: flex;
    justify-content: space-between;
}

.btn-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #1781e3;
    cursor: pointer;
    margin-left: 15px;
}

.btn-container:hover {
    background-color: #0851da;
}

#audio-timer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
}

#current-time {
    color: #1781e3;
}

#duration-time {
    color: #474747;
}

#play-btn {
    color: #ffffff;
}

#stop-btn {
    color: #ffffff;
}

.player-options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.audio-speed {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.audio-speed > p {
    font-size: 16px;
    color: #474747;
    font-weight: 300;
    margin: 0px;
}

.audio-speed > i {
    padding: 0px 5px;
    color: #1781e3;
}

.audio-speed > i:hover {
    color: #0851da;
}

#audio-speed-rate {
    display: flex;
    justify-content: center;
    width: 50px;
}

.speed-option {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.speed-option > p {
    font-size: 16px;
    color: #474747;
    font-weight: 300;
    margin: 0px;
}

.speed-option > i {
    color: #1781e3;
}

.speed-option > i:hover {
    color: #0851da;
}

#audio-move {
    color: #474747;
    cursor: pointer;
    margin: 0px 16px;
}

#audio-move > i {
    font-size: 18px;
    padding: 0px 10px;
    color: #1781e3;
}

#audio-move > i:hover {
    color: #0851da;
}

#input-transcription {
    margin-top: 0px;
}

#transcription-section {
    padding: 0px;
}

.submit-button {
    float: left;
    padding: 5px 10px;
}

/* ----- RESULTS ------ */

#result {
    display: flex;
}

#results-section {
    padding-bottom: 16px;
}

.results-container {
    padding: 0px;
    text-align: left;
}

table {
    width: 100%;
    font-size: 16px;
    padding: 16px 32px;
    background-color: #eef3f6;
}

th {
    color: #474747;
    font-weight: 500;
    padding-bottom: 10px;
}

td {
    max-width: 0;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

/* ----- STATE ------ */

.display-none {
    display: none !important;
}

.display-flex {
    display: flex;
}

.no-gutters {
    padding: 0px;
}

.active {
    background-color: #f5f5f5;
    border-radius: 5px 5px 0px 0px;
}

.active > p {
    font-weight: 600;
}

/* ----- LOADER ------ */

@keyframes blink {
    0% {
        opacity: 0.3;
    }
    20% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.2;
    }
}

.ellipsis-loader {
    display: flex;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.ellipsis-loader > div {
    animation-name: blink;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    line-height: 24px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
}

.ellipsis-loader > div:nth-child(2) {
    animation-delay: 0.2s;
}

.ellipsis-loader > div:nth-child(3) {
    animation-delay: 0.4s;
    margin: 0;
}

.fixed-width-small {
    width: 200px;
    max-width: 200px;
    display: block;
}

.fixed-width-long {
    width: 400px;
    max-width: 400px;
    display: block;
}

.button-small {
    width: 50px;
    max-width: 50px;
}