{% extends "ui-kit/site_layout.html" %}

{% block head %}
{{ super() }}
{#Add custom styles here.
<link rel="stylesheet" href="{{ url_for('yourdemo.static', filename='yourdemo.css') }}">#}
<link rel="stylesheet" href="{{ url_for('domain_adaptation.static', filename='domain_adaptation.css') }}">
{% endblock %}

{% block title %}ASR Domain Adaptation {% endblock %}

{% block description %}Domain adaptation using a Sequence-to-Sequence model{% endblock %}

{% block content %}
<div class="row flex-items-xs-center">
    <div id="audio-section" class="col-lg-8">
        <div id="start-advice" class="">
            <i class="icon icon-046-information-circle icon--s2" aria-hidden="true"></i>
            <p>Select and play an audio to compare to the models predictions</p>
        </div>
        <div class="audio-container">
            <nav class="sample-label">
                <span id="0" class="active"><p>Tedlium 1</p></span>
                <span id="1" class=""><p>Tedlium 2</p></span>
                <span id="2" class=""><p>Tedlium 3</p></span>
                <span id="3" class=""><p>Tedlium 4</p></span>
                <span id="4" class=""><p>Switchboard 1</p></span>
                <span id="5" class=""><p>Switchboard 2</p></span>
                <span id="6" class=""><p>Switchboard 3</p></span>

            </nav>
            <div id="audio-player">
                <div class="audio-btn col-lg-2">
                    <button id="play-btn" class="btn-container">
                        <i class="icon icon-060-play-filled icon--s2" aria-hidden="true"></i>
                    </button>
                    <button id="stop-btn" class="btn-container display-none">
                        <i class="icon icon-057-pause-filled icon--s2" aria-hidden="true"></i>
                    </button>
                    <div id="audio-timer">
                        <div id="current-time"></div>
                        <div id="duration-time"></div>
                    </div>
                </div>
                <div id="waveform" class="waveform-vizualizer col-lg-10"></div>
                <div class="player-options col-lg-12">
                    <div class="col-lg-2">
                        <!--                        <button id="decode-btn" class="button&#45;&#45;primary submit-button">
                                                    <span>{% block submit_button_text %}Decode{% endblock %}</span>
                                                </button>-->
                    </div>
                    <div class="col-lg-10 display-flex no-gutters">
                        <div class="audio-speed">
                            <p>Speed</p>
                            <div class="speed-option">
                                <i id="minus" class="icon icon-052-minus icon--s1 rate-option" aria-hidden="true"></i>
                                <p id="audio-speed-rate"></p>
                                <i id="plus" class="icon icon-061-plus icon--s1 rate-option" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div id="audio-move">
                            <i id="go-start" class="icon icon-040-go-to-start"></i>
                            <i id="go-end" class="icon icon-038-go-to-end"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="results-section" class="row flex-items-xs-center">
            <div class="table-generic">
                <div class="table__wrapper">
                    <div class="border-horizontal">

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <p class="margin-0">Groundtruth</p>
                        </div>
                        <div class="border-vertical">
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <div class="table-items center-vertical">
                                <p class="margin-0 int-blue" id="groundtruth"></p>
                                <div id="loader_gt" class="loader-spinner loader-spinner--large display-none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="border-horizontal">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <p class="margin-0">S2S TEDLIUM model trained on 450h of audio</p>
                        </div>
                        <div class="border-vertical">

                        </div>
                        <div class="col-xs-12 col-md-5">
                            <div class="table-items center-vertical">
                                <p class="margin-0" id="tedlium_pred"></p>
                                <div id="loader_def" class="loader-spinner loader-spinner--large display-none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="border-horizontal">

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <p class="margin-0">S2S TEDLIUM model adapted on 10h of Switchboard</p>
                        </div>
                        <div class="border-vertical">

                        </div>
                        <div class="col-xs-12 col-md-5">
                            <div class="table-items center-vertical">
                                <p class="margin-0" id="tedlium_adapted_pred"></p>
                                <div id="loader_def_lm" class="loader-spinner loader-spinner--large display-none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="border-horizontal">

                    </div>
<!--                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <p class="margin-0 int-red">S2S TEDLIUM model with LM-ColdFusion</p>
                        </div>
                        <div class="border-vertical">
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <div class="table-items center-vertical">
                                <p class="margin-0" id="cf_pred"></p>
                                <div id="loader_cf"
                                     class="loader-spinner loader-spinner&#45;&#45;large display-none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="border-horizontal">
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{#Add custom styles here.
<script src="{{ url_for('yourdemo.static', filename='yourdemo.js') }}"></script>
#}
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
<script src="{{ url_for('domain_adaptation.static', filename='domain_adaptation.js') }}"></script>
{% endblock %}
